@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-primary body{
@apply bg-gradient-to-t from-green-600 to-lime-500 text-black font-extrabold uppercase ;
    span{
        @apply hover:bg-black rounded-none hover:text-white px-2 p-4;
    }
    #themeToggle{
        @apply hover:rounded-none hover:bg-white hover:text-black;
         }
         .about-box02{
            @apply text-white;
         }
    .navbar-links{
         @apply block py-2 px-3 bg-black rounded-none text-white hover:bg-white hover:text-black hover:rounded-none md:hover:bg-black md:hover:text-white md:bg-transparent md:text-black ; 
    }
        .navbar-links-mobile{
         @apply block py-1 px-3 bg-black rounded-none text-white hover:bg-white hover:text-black hover:rounded-none md:hover:bg-lime-500 md:hover:text-white md:bg-transparent md:text-black ; 
    }
         button{
        @apply bg-black text-white font-extrabold rounded-none hover:scale-100 hover:text-black ml-3 mr-3 hover:bg-white;
      }
      .dropdown-bg{
        @apply md:bg-black md:text-white border-0 border-none rounded-none;
      }
      .dropdown-bg a{
        @apply md:text-white md:hover:text-black md:hover:bg-white
      }
      .img-hover{
        @apply rounded-none hover:bg-black hover:border-black border-10;
      }
      .img-card{
        @apply rounded-none
      }

    footer{
        @apply bg-lime-500;
    }
}
.theme-dark body{
@apply bg-black text-lime-500; 
    #themeToggle{
        @apply bg-lime-500 text-black font-extrabold hover:bg-black hover:text-lime-500;
         }
    .navbar-links{
         @apply block py-2 px-3 hover:bg-gradient-to-b from-white/0 to-white/80 hover:text-white hover:border-white hover:border-2 rounded-3xl ml-3 mr-3 hover:scale-115;
       
    }
    summary img{
        @apply invert-0;
    }
     button{
        @apply bg-lime-500 text-black hover:text-black hover:border-white hover:border-1 rounded-2xl ml-3 mr-3 hover:scale-115 hover:bg-blue-500 rounded-2xl;
      }
     footer{
        @apply bg-black text-lime-500;
    }

}
.theme-fairy body{
    @apply font-[fredoka] bg-gradient-to-t from-pink-500 to-red-200 text-white;
    a{
        @apply hover:text-red-200;
    }
    .sec-header{
        @apply rounded-2xl bg-purple-400 m-auto md:w-4xl h-auto;

    }
    nav{
        @apply bg-purple-400;
    }
    .img-hover{
        @apply  md:rounded-2xl w-full h-full object-cover transition-transform duration-200 ease-in md:group-hover:scale-180 group-hover:object-contain hover:drop-shadow-2xl hover:border-white/75 hover:border-2 md:hover:bg-purple-500/75  md:hover:max-h-65; 
    }
    button{
        @apply bg-gradient-to-t from-pink-500 to-red-200;
    }
    #themeToggle{
        @apply bg-purple-500 hover:bg-purple-500;
         }
    .navbar-links{
         @apply block py-2 px-3 hover:bg-gradient-to-t from-pink-500 to-red-200 hover:text-white rounded-3xl ml-3 mr-3 hover:scale-115;
       
    }
     footer{
        @apply bg-purple-400;
    }
   
}
.theme-ocean body{
      @apply  bg-gradient-to-b from-blue-700 to-blue-500 to-white text-white;
      .about-box02{
        @apply bg-gradient-to-t from-green-500 to-lime-300;
      }
      .img-hover{
        @apply border-white/75 border-4;
      }
      button{
        @apply border-white border-1 bg-gradient-to-b from-white/0 to-white/50 hover:border-white hover:border-1 rounded-2xl  hover:scale-115 hover:bg-blue-500 rounded-2xl;
      }
    #themeToggle{
    @apply bg-gradient-to-t from-green-500  to-green-900 to-lime-300 hover:bg-gradient-to-t hover:from-red-500 hover:to-pink-300;
         }
    .navbar-links{
         @apply block py-2 px-3 hover:animate-pulse hover:bg-gradient-to-b from-white/0 to-white/80 hover:border-white hover:border-2 rounded-3xl ml-3 mr-3 hover:scale-115;
       
    }
    .dropdown-bg{
    @apply  
     
      bg-gradient-to-b from-white/80 to-white/0
      md:shadow-lg
      md:rounded-3xl
    border-white border-2 rounded-3xl
    }
    ul{
        @apply text-black bg-gradient-to-t from-green-500 to-lime-300 border-none md:bg-none md:text-white md:border-none;
    }
     footer{
        @apply bg-gradient-to-t from-green-500 to-lime-300;
    }

}
body{
  @apply overflow-x-hidden;
}
.navbar-links{
    @apply  md:text-xs justify-center rounded-3xl hover:scale-110 hover:font-extrabold ;
}
.dropdown-bg{
    @apply hidden group-hover:block
      w-full
      md:absolute
      md:left-0
      md:top-full
      md:mt-0
      md:w-48
    md:p-3
      md:z-50
      bg-white

}
.img-grid{
    @apply flex mx-[0%] p-0 grid grid-cols-1 gap-0 h-auto  md:gap-6 md:mx-[0%] md:grid-cols-3 md:p-10;
}
.img-grid2{
    @apply flex mx-[0%] p-0 grid grid-cols-1 gap-0 h-auto  md:gap-6 md:mx-[0%] md:grid-cols-2 md:p-10;
}
.img-grid3{
    @apply  my-5 grid grid-cols-8 place-items-center gap-4 ;
}
.img-grid-comics{
    @apply mx-[auto] p-0 grid grid-cols-1 gap-0 md:gap-0 md:mx-[10%] my-2 md:grid-cols-1 md:p-0;
}
.img-grid-content{
    @apply aspect-[5/3] object-cover rounded-lg transition-transform duration-300 ease-in-out md:group-hover:z-50;
}
.img-content-sq{
    @apply aspect-[1/1] h-auto w-auto;
}
.img-content-comics{
    @apply aspect-[full] m-auto max-w-screen w-2xl ;
}
.img-content-full{
    @apply aspect-[full];
}
.softwareicons{
  @apply p-2 grid grid-cols-10 gap-0 h-auto w-auto max-h-20 md:gap-0 md:mx-[0%] md:grid-cols-10 p-2;
}


.sec-header{
    @apply font-extrabold uppercase text-center text-5xl p-5;
}
.sec-subtitle{
  @apply text-center text-white bg-black p-1;
}
.img-hover{
    @apply  md:rounded-2xl w-full h-full object-cover transition-transform duration-200 ease-in md:group-hover:scale-180 group-hover:object-contain hover:drop-shadow-2xl hover:border-white/50 hover:border-2 md:hover:bg-white/75  md:hover:max-h-65;
}
.img-card{
    @apply overflow-hidden hover:bg-black md:rounded-2xl w-full h-full object-cover transition-transform duration-200 ease-in md:group-hover:scale-160 group-hover:object-contain hover:drop-shadow-2xl;
}
.card-hover{
    @apply w-auto h-auto object-cover  md:rounded-2xl transition-transform duration-200 ease-in md:group-hover:scale-180  hover:drop-shadow-2xl hover:border-white/50 hover:border-2 md:hover:bg-white/75 ;
}
.grid-content-caption{
  @apply block h-10 text-shadow-black font-extrabold text-black font-bold bg-lime-500 text-center pt-3 px-4 md:text-left;
}

.image-container{
  @apply aspect-video bg-red-500 hover:object-contain ;
}
.img-card-view{
 @apply  h-full w-full object-cover ;
}
.active-link {
  @apply bg-yellow-300 text-black font-bold;
}
/*  */
@layer components {

  .bubble {
    @apply absolute bottom-[-50px] rounded-full bg-white/30 backdrop-blur-md;
    animation: floatUp 10s linear infinite;
  }

  .animation-delay-1000 { animation-delay: 1s; }
  .animation-delay-2000 { animation-delay: 2s; }
  .animation-delay-3000 { animation-delay: 3s; }
  .animation-delay-4000 { animation-delay: 4s; }

}

@keyframes floatUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  } 
  50% {
    opacity: 0.7;
  }
  100% {
    transform: translateY(-120vh) scale(1.3);
    opacity: 0;
  }
}
