<link href="/customWebsite/output.css" rel="stylesheet">

  <footer class="p-5">
    <div class="sm:flex sm:items-center sm:justify-center text-center">
      <span class="text-sm">
        © 2026 Johnson Do. All Rights Reserved. Website made by Johnson Do.
      </span>

        <a href="https://bsky.app/profile/johnsondoee.bsky.social" class="justify-center flex hover:bg-black">
        <img class="w-auto h-5" src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Bluesky_Logo.svg"></img>
        </a>
      </div>
    </div>
  </footer>
