<link href="/customWebsite/output.css" rel="stylesheet">

  <footer class="p-5">
    <div class="sm:flex sm:items-center sm:justify-center text-center">
      <span class="text-sm">
        © 2026 Johnson Do. All Rights Reserved. Website made by Johnson Do.
      </span>

      <div class="flex justify-center items-center gap-4 m-3">
         <a href="https://bsky.app/profile/johnsondoee.bsky.social" class="hover:invert">
        <img class="w-auto h-5" src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Bluesky_Logo.svg"></img>
        </a>
        <a href="https://www.tiktok.com/@johnsondoee" class="hover:invert">
        <img class="w-aut h-5" src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Tiktok_icon.svg"></img>
        </a>
    </div>
      </div>
    </div>
  </footer>
