
        <link href="/customWebsite/output.css" rel="stylesheet">
        <li>
          <a href="/index" class="navbar-links" >Home</a>
        </li>
        <li>
          <a href="/about" class="navbar-links">About</a>
        </li>
        <li>
          <a href="/services" class="navbar-links">Services</a>
        </li>

        
        <li>

               <ul > 
          <li class="relative group">
    <a href="#" class="navbar-links">Video Games</a>

    <!-- Dropdown -->
    <ul class=" right-0 mt-2 w-40 p-4 bg-white shadow-lg rounded 
               hidden group-hover:block">

      <li>
        <a href="#" class="navbar-links">
          Rescue Pets
        </a>
      </li>

      <li>
        <a href="#" class="navbar-links">
          Rock Miner
        </a>
      </li>

      <li>
        <a href="#" class="navbar-links">
          A Corgi's Cozy Hike
        </a>
      </li>
      </ul>

          
        </li> 
        <li>
          <a href="/baebee" class="navbar-links">Bae-Bee</a>
        
        </li> 
         <li>
          <a href="/productdesign" class="navbar-links">Product Design</a>
        
        </li> 
        <li>
          <a href="/illustrations" class="navbar-links">Illustrations</a>
        
        </li>
        <li>
          <a href="/animation" class="navbar-links">Animation</a>
        
        </li> 
         <li>
          <a href="/storyboards" class="navbar-links">Story Boards</a>
        
        </li> 
          <li>
          <a href="/comics" class="navbar-links">Comics</a>
        
        </li> 
         <script src="js/include.js"></script>