<link href="/customWebsite/output.css" rel="stylesheet">

      <ul class="flex flex-col border border-default rounded-3xl-base md: rtl:space-x-reverse md:flex-row md:border-0 ">
            <div id="menu-list"></div>

        <li>
          <a href="/index" class="navbar-links" >Home</a>
        </li>
        <li>
          <a href="/3dmodels" class="navbar-links navbar-links">3D</a>
        </li>

        <li class="relative group">
  <a 
     class="navbar-links ">
    2D
  </a>
       
  <!-- Desktop Dropdown -->
  <ul class="dropdown-bg">

 <div class=" divide-y divide-lime-500">
  
      <li>
     <a href="/illustrations"
     class="navbar-links">
    Illustrations
  </a>
    </li>
            <li>
          <a href="/comics" class="navbar-links">Comics</a>
        
        </li>

</div>
  </ul>
</li>


        <!--
        <li>
          <a href="/services" class="navbar-links">Services</a>
        </li>
        -->

        
<li class="relative group">
  <a href="#"
     class="navbar-links ">
    My Video Games
  </a>
       
  <!-- Desktop Dropdown -->
  <ul class="dropdown-bg">

 <div class=" divide-y divide-lime-500">
  
      <li>
      <a href="https://store.steampowered.com/app/2321250/A_Corgis_Cozy_Hike/" class="navbar-links">
        A Corgi's Cozy Hike [PC]
      </a>
    </li>
    <li>
      <a href="https://apps.apple.com/us/app/rescue-pets-save-real-animals/id1476435824" class="navbar-links">
        Rescue Pets [IOS]
      </a>
    </li>

    <li>
      <a href="https://apps.apple.com/us/app/rock-miner-pro-stone-mining/id1618959187" class="navbar-links">
        Rock Miner [IOS|Android]
      </a>
    </li>


</div>
  </ul>
</li>





        <li>
          <a href="/baebee" class="navbar-links">Bae-Bee</a>
        
        </li> 
         <li>
          <a href="/productdesign" class="navbar-links">Product Design</a>
        
        </li> 


              <li class="relative group">

  <!-- Desktop Dropdown -->
  <ul class="dropdown-bg
  ">
 <div class=" divide-y divide-lime-500">
    <li>
      <a href="/conceptart" class="navbar-links">
        Concept Art
      </a>
    </li>
    </div>
  </ul>
</li>

      <li class="relative group">
  <a href="/animation"
     class="navbar-links">
    Animation
  </a>

  <!-- Desktop Dropdown -->
  <ul class="dropdown-bg
  ">
 <div class=" divide-y divide-lime-500">
    <li>
      <a href="/storyboards" class="navbar-links">
        Story Boards
      </a>
    </li>
  </ul>
</li>
</div>


          <li>
          <a href="/about" class="navbar-links">About</a>
        
        </li> 
        </ul>

<script src="js/include.js"></script>