<link href="/customWebsite/output.css" rel="stylesheet">

      <ul class="flex flex-col border border-default rounded-3xl-base md: rtl:space-x-reverse md:flex-row md:border-0 ">
            <div id="menu-list"></div>

        <li>
          <a href="/index" class="navbar-links" >Home</a>
        </li>
        <li>
          <a href="/about" class="navbar-links navbar-links">3D</a>
        </li>

        <!--
        <li>
          <a href="/services" class="navbar-links">Services</a>
        </li>
        -->
<li class="relative group">
  <a href="#"
     class="navbar-links">
    Video Games
  </a>

  <!-- Desktop Dropdown -->
  <ul class="dropdown-bg
  ">

    <li>
      <a href="#" class="navbar-links">
        Rescue Pets
      </a>
    </li>

    <li>
      <a href="#" class="navbar-links">
        Rock Miner
      </a>
    </li>

    <li>
      <a href="#" class="navbar-links">
        A Corgi's Cozy Hike
      </a>
    </li>

  </ul>

</li>




        <li>
          <a href="/baebee" class="navbar-links">Bae-Bee</a>
        
        </li> 
         <li>
          <a href="/productdesign" class="navbar-links">Product Design</a>
        
        </li> 
        <li>
          <a href="/illustrations" class="navbar-links">Illustrations</a>
        
        </li>
      <li class="relative group">
  <a href="#"
     class="navbar-links">
    Animation
  </a>

  <!-- Desktop Dropdown -->
  <ul class="dropdown-bg
  ">

    <li>
      <a href="/storyboards" class="navbar-links">
        Story Boards
      </a>
    </li>
  </ul>

</li>
        <li>
          <a href="/comics" class="navbar-links">Comics</a>
        
        </li>
          <li>
          <a href="/about" class="navbar-links">About</a>
        
        </li> 
        </ul>

          <script src="js/include.js"></script>