<link href="/customWebsite/output.css" rel="stylesheet">

      <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-default rounded-base bg-neutral-secondary-soft md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-neutral-primary">
            <div id="menu-list"></div>
            <script src="/js/include.js"></script>

        <li>
          <a href="https://johnsondo.com" class="block py-2 px-3 text-heading rounded  hover:bg-yellow=200 md:hover:bg-yellow=200 md:border-0 md:hover:text-yellow-300 md:p-0 md:dark:hover:bg-transparent" >Home</a>
        </li>
        <li>
          <a href="/about" class="block py-2 px-3 text-heading rounded  hover:bg-yellow=200 md:hover:bg-yellow=200 md:border-0 md:hover:text-yellow-300 md:p-0 md:dark:hover:bg-transparent">About</a>
        </li>
        <li>
          <a href="/services" class="block py-2 px-3 text-heading rounded  hover:bg-yellow=200 md:hover:bg-yellow=200 md:border-0 md:hover:text-yellow-300 md:p-0 md:dark:hover:bg-transparent">Services</a>
        </li>
       <li class="relative group">

  <a href="#"
     class="block py-2 px-3 text-heading rounded
            hover:bg-yellow-200">
    Video Games
  </a>

  <!-- Dropdown -->
  <ul class="
      hidden group-hover:block

      w-full

      md:absolute
      md:left-0
      md:top-full
      md:mt-0
      md:w-48
      md:bg-white
      md:shadow-lg
      md:rounded
      md:p-3
      md:z-50
  ">

    <li>
      <a href="#" class="block py-2 px-3 hover:bg-yellow-200 rounded">
        Rescue Pets
      </a>
    </li>

    <li>
      <a href="#" class="block py-2 px-3 hover:bg-yellow-200 rounded">
        Rock Miner
      </a>
    </li>

    <li>
      <a href="#" class="block py-2 px-3 hover:bg-yellow-200 rounded">
        A Corgi's Cozy Hike
      </a>
    </li>

  </ul>

</li>


        <li>
          <a href="/baebee" class="block py-2 px-3 text-heading rounded  hover:bg-yellow=200 md:hover:bg-yellow=200 md:border-0 md:hover:text-yellow-300 md:p-0 md:dark:hover:bg-transparent">Bae-Bee</a>
        
        </li> 
         <li>
          <a href="/productdesign" class="block py-2 px-3 text-heading rounded  hover:bg-yellow=200 md:hover:bg-yellow=200 md:border-0 md:hover:text-yellow-300 md:p-0 md:dark:hover:bg-transparent">Product Design</a>
        
        </li> 
        <li>
          <a href="/illustrations" class="block py-2 px-3 text-heading rounded  hover:bg-yellow=200 md:hover:bg-yellow=200 md:border-0 md:hover:text-yellow-300 md:p-0 md:dark:hover:bg-transparent">Illustrations</a>
        
        </li>
        <li>
          <a href="/animation" class="block py-2 px-3 text-heading rounded  hover:bg-yellow=200 md:hover:bg-yellow=200 md:border-0 md:hover:text-yellow-300 md:p-0 md:dark:hover:bg-transparent">Animation</a>
        
</li> 
<li>
          <a href="/storyboards" class="block py-2 px-3 text-heading rounded  hover:bg-yellow-200 md:hover:bg-yellow-200 md:border-0 md:hover:text-yellow-300 md:p-0 md:dark:hover:bg-transparent">Story Boards</a>
        
        </li> 
        <li>
          <a href="/comics" class="block py-2 px-3 text-heading rounded  hover:bg-yellow-200 md:hover:bg-yellow-200 md:border-0 md:hover:text-yellow-300 md:p-0 md:dark:hover:bg-transparent">Comics</a>
        
        </li> 
        </ul>

        