
        <link href="/customWebsite/output.css" rel="stylesheet">
        <li>
          <a href="/index" class="navbar-links-mobile" >Home</a>
        </li>
        <li>
          <a href="/3dmodels" class="navbar-links-mobile" >3D</a>
        </li>
        
      <!--
        <li>
          <a href="/services" class="navbar-links-mobile">Services</a>
        </li>
        -->

              <li>
        <a href="https://store.steampowered.com/app/2321250/A_Corgis_Cozy_Hike/" class="navbar-links-mobile">
          A Corgi's Cozy Hike
        </a>
      </li>
        
      <li>
        <a href="https://apps.apple.com/us/app/rescue-pets-save-real-animals/id1476435824" class="navbar-links-mobile">
          Rescue Pets
        </a>
      </li>

      <li>
        <a href="https://apps.apple.com/us/app/rock-miner-pro-stone-mining/id1618959187" class="navbar-links-mobile">
          Rock Miner
        </a>
      </li>
      



        
        <li>
          <a href="/baebee" class="navbar-links-mobile">Bae-Bee</a>
        
        </li> 
         <li>
          <a href="/productdesign" class="navbar-links-mobile">Product Design</a>
        
        </li> 

      <li class="">
        <a href="/conceptart" class="navbar-links-mobile">
          Concept Art
        </a>
      </li>

        <li>
          <a href="/animation" class="navbar-links-mobile">Animation</a>
        
        </li> 
         <li>
          <a href="/storyboards" class="navbar-links-mobile">Story Boards</a>
        
        </li> 
          <li>
          <a href="/comics" class="navbar-links-mobile">Comics</a>
        
        </li> 

        <li>
          <a href="/about" class="navbar-links-mobile">About</a>
        </li>

         <script src="js/include.js"></script>