<link href="/customWebsite/output.css" rel="stylesheet">

<ul class="list-none p-0 m-0 font-semibold">
        <li>
          <a href="https://johnsondo.com" class="block py-2 px-3 text-heading rounded hover:bg-yellow-500 md:hover:bg-yellow-500 md:border-0 md:hover:text-yellow-300 md:p-0 md:dark:hover:bg-transparent" >Home</a>
        </li>
        <li>
          <a href="/about" class="block py-2 px-3 text-heading rounded hover:bg-yellow-500 md:hover:bg-yellow-500 md:border-0 md:hover:text-yellow-300 md:p-0 md:dark:hover:bg-transparent">About</a>
        </li>
        <li>
          <a href="/services" class="block py-2 px-3 text-heading rounded hover:bg-yellow-500 md:hover:bg-yellow-500 md:border-0 md:hover:text-yellow-300 md:p-0 md:dark:hover:bg-transparent">Services</a>
        </li>
        <li>
          <a href="/baebee" class="block py-2 px-3 text-heading rounded hover:bg-yellow-500 md:hover:bg-yellow-500 md:border-0 md:hover:text-yellow-300 md:p-0 md:dark:hover:bg-transparent">Bae-Bee</a>
        
        </li> 
        <li>
          <a href="/illustrations" class="block py-2 px-3 text-heading rounded hover:bg-yellow-500 md:hover:bg-yellow-500 md:border-0 md:hover:text-yellow-300 md:p-0 md:dark:hover:bg-transparent">Illustrations</a>
        
        </li> 
</ul>  