<link href="/customWebsite/output.css" rel="stylesheet">


<nav class="bg-lime-500 w-full z-20 top-0 start-0">
  <div class="max-w-screen-l flex items-center justify-between mx-auto p-4">
    <a href="https://johnsondo.com" class="hover:text-yellow-300">
        
        <span class="  font-extrabold text-xl align-top text-heading whitespace-nowrap hover:scale-115">JOHNSON DO</span>
    
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <a href="mailto:johnsondoarts@gmail.com" class="">
        <button type="button" class="rounded-2xl text-heading bg-gradient-to-r from-lime-300 to-yellow-300 hover:bg-gradient-to-l hover:from-lime-300 hover:to-yellow-300 focus:ring-4 focus:outline-blue-400 focus:ring-yellow-200 dark:focus:ring-yellow-300 font-medium rounded-base text-sm px-4 py-2.5 text-center leading-5 hover:outline-3 outline-white hover:scale-115">Work Together</button>
        </a>

        
<!--MOBILE DROP DOWN MENU--> 
    <details class="relative inline-black md:hidden">
  <summary
    class="list-none cursor-pointer flex items-center justify-center
           bg-green-600 text-white
           w-10 h-10
           rounded
           focus:outline-none"
  >
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg"
      class="w-5 h-5"
      alt="Open menu"
    />
  </summary>

        <div class="absolute right-0 mt-2 min-w-[10rem] bg-white shadow-lg rounded p-3 z-50">


          <ul class="list-none p-2 m-0 font-semibold">
            <div id="menu-list"></div>
<!--
                   <li>
          <a href="https://johnsondo.com" class="block py-2 px-3 text-heading rounded hover:bg-yellow-200 md:hover:bg-yellow-200 md:border-0 md:hover:text-yellow-300 md:p-0 md:dark:hover:bg-transparent" >Home</a>
        </li>
        <li>
          <a href="/about" class="block py-2 px-3 text-heading rounded hover:bg-yellow-200 md:hover:bg-yellow-200 md:border-0 md:hover:text-yellow-300 md:p-0 md:dark:hover:bg-transparent">About</a>
        </li>
        <li>
          <a href="/services" class="block py-2 px-3 text-heading rounded hover:bg-yellow-200 md:hover:bg-yellow-200 md:border-0 md:hover:text-yellow-300 md:p-0 md:dark:hover:bg-transparent">Services</a>
        </li>
        <li>
          <a href="/baebee" class="block py-2 px-3 text-heading rounded hover:bg-yellow-200 md:hover:bg-yellow-200 md:border-0 md:hover:text-yellow-300 md:p-0 md:dark:hover:bg-transparent">Bae-Bee</a>
        
        </li> 
        <li>
          <a href="/illustrations" class="block py-2 px-3 text-heading rounded hover:bg-yellow-200 md:hover:bg-yellow-200 md:border-0 md:hover:text-yellow-300 md:p-0 md:dark:hover:bg-transparent">Illustrations</a>
        
        </li>
        <li>
          <a href="/animation" class="block py-2 px-3 text-heading rounded hover:bg-yellow-200 md:hover:bg-yellow-200 md:border-0 md:hover:text-yellow-300 md:p-0 md:dark:hover:bg-transparent">Animation</a>
        
        </li> 
              -->

          </ul>
  

        </div>
    </details>

<!-- MAIN MENU-->
        
                </div>
    <div class="items-center justify-evenly hidden w-full md:flex md:w-auto md:order-1" >

      
      <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-default rounded-base bg-neutral-secondary-soft md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-neutral-primary">
      <div id="menumain"></div>
        <!--
       <li>
          <a href="https://johnsondo.com" class="block py-2 px-3 text-heading rounded hover:bg-yellow-200 md:hover:bg-yellow-200 md:border-0 md:hover:text-yellow-300 md:p-0 md:dark:hover:bg-transparent" >Home</a>
        </li>
        <li>
          <a href="/about" class="block py-2 px-3 text-heading rounded hover:bg-yellow-200 md:hover:bg-yellow-200 md:border-0 md:hover:text-yellow-300 md:p-0 md:dark:hover:bg-transparent">About</a>
        </li>
        <li>
          <a href="/services" class="block py-2 px-3 text-heading rounded hover:bg-yellow-200 md:hover:bg-yellow-200 md:border-0 md:hover:text-yellow-300 md:p-0 md:dark:hover:bg-transparent">Services</a>
        </li>
        <li>
          <a href="/baebee" class="block py-2 px-3 text-heading rounded hover:bg-yellow-200 md:hover:bg-yellow-200 md:border-0 md:hover:text-yellow-300 md:p-0 md:dark:hover:bg-transparent">Bae-Bee</a>
        
        </li> 
        <li>
          <a href="/illustrations" class="block py-2 px-3 text-heading rounded hover:bg-yellow-200 md:hover:bg-yellow-200 md:border-0 md:hover:text-yellow-300 md:p-0 md:dark:hover:bg-transparent">Illustrations</a>
        
        </li>
        <li>
          <a href="/animation" class="block py-2 px-3 text-heading rounded hover:bg-yellow-200 md:hover:bg-yellow-200 md:border-0 md:hover:text-yellow-300 md:p-0 md:dark:hover:bg-transparent">Animation</a>
        
        </li> 
      -->

      </ul>

  </div>
   

    </div>

   
</nav>